backup/*
.bash_*
.cache/
.config/*
!.config/gtk-3.0/
!.config/ranger/options.py
!.config/ranger/bookmarks
!.config/termcolours/
!.config/sounds/
!.config/user-dirs*
.dbus/*
.dmenu_cache
.dmrc
doc/*
downloads/*
.fehbg
.fetchmailrc
.fontconfig/*
.fonts/arial.ttf
.fonts/tahoma.ttf
.fonts/verdana.ttf
.forward
.gconf/*
.gimp-2.8/*
.git-credential-cache/*
.gitk
.gmail
.gnome2/*
.gnome2_private/*
.gstreamer-0.10/*
.gtk-bookmarks
.gvfs/*
.ICEauthority
.icons/*
.lesshst
.local/*
mail/*
.mailcheckrc
.mldonkey/*
.mozilla/*
.mplayer/*
.pki/*
.profile
.pulse/*
.pulse*
.private/*
.ssh/*
.themes/*
.thumbnails/*
.turses/log
.turses/token
tmp/*
.vim/bundle/*
.vim/plugin/*
.vim/spell/*
.vim/.netrwhist
.viminfo
.vboxclient*
.weechat/*
!.weechat/*.conf
.weechat/sec.conf
!.weechat/perl/
!.weechat/script/
.Xauthority
.xinitrc
.xscreensaver
.xsel.log
.xsession-*
