backup/*
.bash_*
bin/*
.cache/
.config/*
!.config/gtk-3.0/
!.config/ranger/
!.config/termcolours/
!.config/user-dirs*
.dbus/*
.dmenu_cache
.dmrc
doc/*
downloads/*
.fehbg
.fetchmailrc
.fontconfig/*
.fonts/*
.forward
.gconf/*
.gimp-2.8/*
.git-credential-cache/*
.gitk
.gmail
.gnome2/*
.gnome2_private/*
.gstreamer-0.10/*
.gtk-bookmarks
.gvfs/*
.ICEauthority
.icons/*
.lesshst
.local/*
mail/*
.mailcheckrc
.mldonkey/*
.mozilla/*
.mplayer/*
.pki/*
.profile
.pulse/*
.pulse*
.themes/*
.thumbnails/*
tmp/*
.vim/bundle/*
.vim/plugin/*
.vim/spell/*
.vim/.netrwhist
.viminfo
.Xauthority
.xinitrc
.xscreensaver
.xsel.log
.xsession-*
