! Configuración de recursos X
! 02 ene 2015 - E7
! vim: set ft=xdefaults:

! XFT - Fuentes
!----------------------------------------------------------------------
Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.autohint: 0
!Xft.hinting:     1
!Xft.hintstyle:   hintfull
!Xft.lcdfilter:	  lcddefault
Xcursor.theme:	 Neutral
*font: -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

! Colores
!----------------------------------------------------------------------
!#include "/home/electro7/.config/termcolours/jellybeans"
!#include "/home/electro7/.config/termcolours/hybrid"
!#include "/home/electro7/.config/termcolours/base16-solarized.light"
#include "/home/electro7/.config/termcolours/hybrid_e7"
!#include "/home/electro7/.config/termcolours/s3r0"

! URXVT
!----------------------------------------------------------------------
! Colores
! bold, italic, underline
URxvt.colorBD: #B5BD68
URxvt.colorIT: #B294BB
URxvt.colorUL: #81A2BE
! Fuentes
! Para los caracteres especiales de la línea de powerline es necesario
! una fuente powerline. Inconsolata for powerline los tienes, pero solo
! a tamaño 12.
! Uso el Inconsolata normal, con resguardo de terminespowerline y asi
! funcionan. :)
URxvt.letterSpace: -2
URxvt.font: xft:Inconsolata:size=10, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.boldFont: xft:Inconsolata:size=10, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.italicFont: xft:Inconsolata:size=10, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.boldItalicFont: xft:Inconsolata:size=10, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

!URxvt*font: xft:terminus:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*boldFont: xft:terminus:style=bold:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*italicFont: xft:terminus:style=italic:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt*boldItalicFont: xft:terminus:style=bolditalic:hinting=true:pixelsize=12:antialias=false, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

! Varios
URxvt.depth: 32
URxvt*scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt*saveLines: 1024
URxvt*mouseWheelScrollPage: true
! Extensions ~/.urxvt./ext
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
! Clipboard
URxvt.keysym.M-S-C: perl:clipboard:copy
URxvt.keysym.M-S-V: perl:clipboard:paste
URxvt.keysym.M-S-W: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
! Keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-S-S: perl:keyboard-select:search
! Url-select
URxvt.keysym.M-S-U: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true

! Reasigning keys for vim keys
URxvt.keysym.S-Up             : \033[1;2A
URxvt.keysym.S-Down           : \033[1;2B
URxvt.keysym.S-Right          : \033[1;2C
URxvt.keysym.S-Left           : \033[1;2D
URxvt.keysym.S-Home           : \033[1;2H
URxvt.keysym.S-End            : \033[1;2F
URxvt.keysym.M-Up             : \033[1;3A
URxvt.keysym.M-Down           : \033[1;3B
URxvt.keysym.M-Right          : \033[1;3C
URxvt.keysym.M-Left           : \033[1;3D
URxvt.keysym.M-Page_Up        : \033[5;3~
URxvt.keysym.M-Page_Down      : \033[6;3~
URxvt.keysym.M-Home           : \033[1;3H
URxvt.keysym.M-End            : \033[1;3F
URxvt.keysym.M-S-Up           : \033[1;4A
URxvt.keysym.M-S-Down         : \033[1;4B
URxvt.keysym.M-S-Right        : \033[1;4C
URxvt.keysym.M-S-Left         : \033[1;4D
URxvt.keysym.M-S-Home         : \033[1;4H
URxvt.keysym.M-S-End          : \033[1;4F
URxvt.keysym.C-Up             : \033[1;5A
URxvt.keysym.C-Down           : \033[1;5B
URxvt.keysym.C-Right          : \033[1;5C
URxvt.keysym.C-Left           : \033[1;5D
URxvt.keysym.C-Page_Up        : \033[5;5~
URxvt.keysym.C-Page_Down      : \033[6;5~
URxvt.keysym.C-Home           : \033[1;5H
URxvt.keysym.C-End            : \033[1;5F
URxvt.keysym.C-S-Up           : \033[1;6A
URxvt.keysym.C-S-Down         : \033[1;6B
URxvt.keysym.C-S-Right        : \033[1;6C
URxvt.keysym.C-S-Left         : \033[1;6D
URxvt.keysym.C-S-Home         : \033[1;6H
URxvt.keysym.C-S-End          : \033[1;6F
URxvt.keysym.M-C-Up           : \033[1;7A
URxvt.keysym.M-C-Down         : \033[1;7B
URxvt.keysym.M-C-Right        : \033[1;7C
URxvt.keysym.M-C-Left         : \033[1;7D
URxvt.keysym.M-C-Page_Up      : \033[5;7~
URxvt.keysym.M-C-Page_Down    : \033[6;7~
URxvt.keysym.M-C-Home         : \033[1;7H
URxvt.keysym.M-C-End          : \033[1;7F
URxvt.keysym.M-C-S-Up         : \033[1;8A
URxvt.keysym.M-C-S-Down       : \033[1;8B
URxvt.keysym.M-C-S-Right      : \033[1;8C
URxvt.keysym.M-C-S-Left       : \033[1;8D
URxvt.keysym.M-C-S-Home       : \033[1;8H
URxvt.keysym.M-C-S-End        : \033[1;8F

! XMAILBOX
!----------------------------------------------------------------------
!XMailbox*update: 60
!XMailbox*mailXpmFile: /home/electro7/X/pixmaps/mail1.xpm
!XMailbox*nomailXpmFile: /home/electro7/X/pixmaps/mail0.xpm
!XMailbox*mailapp: $HOME/bin/terminal mutt
!XMailbox*volume: 66
!xmailbox*mailSndFile: /home/electro7/X/sounds/mail.wav
!xmailbox*mailSndComm: /usr/bin/play %s

! XMIX
!----------------------------------------------------------------------
!xmix*font: -ttf-beijing ssi-medium-r-normal-*-*-110-*-*-p-*-iso8859-1
!xmix.whole.background:	grey32
!xmix.whole.buttons.background: grey32
!xmix*borderWidth: 0
!xmix*highlightThickness: 1
!xmix*background: grey32
!xmix*foreground: gold3
!xmix*sliders.background: grey32
!xmix*sliders*Label.foreground: grey90
!xmix*sliders*Scrollbar.background: grey25
!xmix*sliders*Scrollbar.foreground: grey32
!xmix*buttons*Label.foreground: grey90
!xmix*quit.shapeStyle: oval
!xmix*quit.background: grey25

! XTERM
!----------------------------------------------------------------------
xterm*geometry: 80x25
xterm*scrollBar: false
xterm*font: 9x15bold
!xterm*pointerColor: black
!xterm*pointerColorBackground: white
!xterm*cursorColor: yellow
xterm*boldFont: 9x15bold
xterm*colorBDMode: true
xterm*colorULMode: true
xterm*colorBD: plum2
xterm*colorUL: wheat
xterm*saveLines: 256
xterm*title:  Terminal
! Xterm con soporte de la rueda del raton
xterm.vt100.translations: #override\n\
 Shift<Btn4Down>,<Btn4Up>:scroll-back(1,line)\n\
 Shift<Btn5Down>,<Btn5Up>:scroll-forw(1,line)\n\
 Ctrl<Btn4Down>,<Btn4Up>:scroll-back(1,page)\n\
 Ctrl<Btn5Down>,<Btn5Up>:scroll-forw(1,page)\n\
 <Btn4Down>,<Btn4Up>:scroll-back(1,halfpage)\n\
 <Btn5Down>,<Btn5Up>:scroll-forw(1,halfpage)
